@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  list-style-type: none;
  
   
 
}
 
.container-login{
   
  height: 100vh;
  width: 100%;
  background-color: #F3EFE0;
}
.container-login .grid-login{
  display: grid;
  grid-template-columns: 1fr 1fr;
 height: 100%;
}

 
 .left-side  {
  
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
 }
 .left-side .signto{
  display: grid;
  flex-direction: column;
  
 }
 .signto h1{
  font-size :2.5rem;
 }
 .signto img {
  width:340px;
  height: auto;
  padding: 2rem 0 2rem 0;
 }
 
  
 .right-side{
  border-radius: 1rem  0 0 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 .right-side .FormControl{
  font-family: 'Poppins', sans-serif;
 }
 .box-btn  {
  padding: 1rem 0 1rem 0;
  
 }
 .box-btn .button-login  {
  padding: .55rem 0 .55rem 0;
  font-family: 'Poppins', sans-serif;
 }
/* .login-container {
 
 
  width: 100%;
 height: 100%;
 
  

}

.container-card {
 display: grid;
 grid-template-columns: auto auto auto;
  
 
  
 
}
.container-card .left-side{
  display: flex;
  justify-content: center;
  align-items: center;
    
}
.middle-side img{
  
 width: 340px;
 height: auto;
}
.container-card .right-side{
   
  border-radius: 1rem  0 0 1rem;
  width: 100%;
}
.head-sign {
  padding: 0 0 1rem 0;
} */

/* .FormControl h2 {
  font-size: 1.55rem;

  font-weight: 700;
}

.FormControl p {
  font-size: .88rem;
}

.FormControl {

  padding: 1rem;
}

.FormControl .forgot {
  padding: .44rem 0 .44rem 0;
}

.login-btn Button {
  margin: 1rem 0rem 1rem 0rem;
  ;
} */

/* home component */

.home-container {
  height: 100vh;

}
.head-container .head-bar{
  width: 100%;
}
 .head-bar .user-head{
  
  display: flex;
  
   
 }
 .user-head{
  font-display: flex;
  justify-content: center;
  align-items: center;
 }
 .user-head h2{
  font-size: 1rem;
 }
 .head-tool{
  width: 100%;
 
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
.home-body {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 20% 80%;

}
.home-body .side-nav{
   
  padding: 2rem;
  border-right: 1px solid #e2e2e2;
}
.side-nav h1{
  font-weight: 600;
  font-size: 1.25rem;
}
.side-nav nav{
  padding: 4rem 0 4rem 0;
}

nav ul li{
  display: flex;
  align-items: center;
  padding: .66rem .77rem .66rem .77rem;
}
nav ul li a{
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 400;
}
nav h2{
  font-size: 1rem;
}
.home-body .main-content{
 
}
 
.main-content .WrapItem{
  gap: 1rem;
 
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .container-login .grid-login{
    grid-template-columns: auto;
  }
}